<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benny.laclaundry">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_rectangle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_rounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.LacLaundry"
        android:usesCleartextTraffic="true">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.order.ManageOrder"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.transaksi.KonfirmasiPesanan"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".home.pelanggan.ManagePelanggan"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".home.produk.ManageProduk"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".home.laporan.ActivityLaporan" />
        <activity android:name=".home.pelanggan.ListPelanggan" />
        <activity android:name=".home.produk.ListProduk" />
        <activity
            android:name=".data.remote.LoginActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".data.remote.RegisterActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>